
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Boxes Design
    </div>
    <div class="card-body">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box text-center">
                            <img src="https://i.pinimg.com/originals/76/17/c6/7617c69204365199c7d8a693316174a1.jpg">
                            <div>
                                <a href="#" class="buynow">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-center">
                            <img src="https://i.pinimg.com/originals/76/17/c6/7617c69204365199c7d8a693316174a1.jpg">
                            <div>
                                <a href="#" class="buynow">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30 pt-30">
                    <div class="col-lg-6">
                        <div class="box text-center">
                            <img src="https://i.pinimg.com/originals/76/17/c6/7617c69204365199c7d8a693316174a1.jpg">
                            <div>
                                <a href="#" class="buynow">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-center">
                            <img src="https://i.pinimg.com/originals/76/17/c6/7617c69204365199c7d8a693316174a1.jpg">
                            <div>
                                <a href="#" class="buynow">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

