
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword</title>
    <meta charset="utf-8" />
    <link href="~/Theam/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Theam/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Theam/css/custom.css" rel="stylesheet">
</head>
<body class="forms-main">
    <section>
        <div class="container form-box">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-sm-12">
                    <div class="regi-box">
                        <div class="alert alert-danger" id="Error" style="display:none; margin-top: 20px;">
                            <strong><span class="errormessage"></span></strong>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="logo-main pb-5 pt-3">
                                    <img src="~/Theam/images/asg.png" />
                                </div>
                                <h1 class="box-title">Forgot Your Password?</h1>
                                <p class="text-h3"><i class="fa fa-lock lock-fp pr-2"></i>Enter your email address and we'll send you a link to reset your password.</p>
                            </div>
                        </div>

                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="password" id="txtnewpassword" class="form-control" placeholder="New Password">
                                
                            </div>
                            <div class="col">
                                
                                <input type="password" id="txtnewpassword" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="row text-center mt-4">
                            <div class="col">
                                <a id="btnresetpass" class="button outline-outward mt-3">Reset Password</a>
                            </div>
                        </div>
                        <div class="row text-center mt-4">
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <p>
                                        Don't Have an account?
                                    </p>
                                    <a href="Registration/UserManagement">Create an Account</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="~/Theam/js/jquery.min.js"></script>
    <script src="~/Theam/js/popper.min.js"></script>
    <script src="~/Theam/js/bootstrap.min.js"></script>
    <script src="~/PageJs/ForgotPassword.js"></script>
</body>
</html>
